/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body {
  color: #999;
  font-family: Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6, a, span {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

a{
  font-weight: 400;
}

h1 {
  font-size: 3rem;
  margin-top: 2rem;
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

span {
  color: #999;
  clear: both;
}

header ul li, header ul input, aside ul li {
  clear: both;
  width: 90%;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.sub-font{
  font-size: 0.8rem;
}


/******************************************
/* LAYOUT
/*******************************************/
.floated{
  float: left;
}

.cleared{
  clear: both
}

header, main, aside {
  margin-top: 2rem;
  padding-left: 5rem;
}

header{
  width: 10%;
  padding-left: 2rem;
}

main{
  width: 50%;
}

main > section > img{
  width: 100%;
  height: auto;
  margin: 0 auto;
}

aside{
  width: 40%;
  padding-left: 2rem;
}

.bottom{
  margin-left: 15%;
  width: 85%;
  clear: both;
  padding-top: 2rem;
}

.bottom > section{
  width: 54%;
  margin-bottom: 15%;
}

.bottom > section > *{
  width: 33%;
}

.bottom .cleared{
  margin-top: 1rem;
}

.mini-image{
  width: 100%;
  margin: auto;
}

/*******************************************/
/* ADDITIONAL STYLES
/*******************************************/
.extra-crunch{
  color: #dca946
}

a:hover{
  color: #00a562;
}

/******************************************/
/* MEDIA QUERIES */
/*******************************************/

@media screen and (max-width: 1000px){
  .bottom{
    margin-left: 2%;
  }

  .bottom > section{
    width: 100%;
    margin-bottom: 15%;
  }
}

@media screen and (max-width: 920px){
header, main, aside{
    width: 100%;
    margin: 0;
    padding: 1.5rem;
  }

  nav{
    display: block;
  }

  header  nav  * {
    display: inline;
    width: 5%;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    padding-right: 0.3rem;
  }

  header nav input{
    display: block;
    width: 90%;
    margin: 5%;
  }

  .bottom{
    position: static;
    clear: both;
    padding-top: 2rem;
  }
  
}

@media screen and (max-width: 600px){
  header img{
    width: 40px;
    height: auto;
  }

  .hidable{
    display: none;
  }


  main img{
    width: 100%;
  }

  .bottom article, .bottom section {
    width: 100%;
    padding: 1rem;
  }

  .bottom img{
    margin: 0 auto;
  }

}