/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html{
  font-size: 62.5%;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-color: #457B9D;
  color: #1D3557;
  line-height: 225%;
}

section#all{
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
}

section > section, footer > section{
  padding: 2% 4%;
}

a{
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6, span, p, li > a, button {
  font-size: 1.6rem;
}

h1, h2{
  font-size: 2rem;
  text-align: left;
  text-transform: capitalize;
}

.fas, .fab{
  font-size: 2rem;
}

span{
  display: inline-block;
}


/******************************************
/* LAYOUT
/*******************************************/
/* .flex-2{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
} */

#hero{
  min-height: 30vh;
  background-image: url("../assets/mechanic-man-repairing-car-layered.jpg");
  background-size: cover;
  
}

#hero > .text-container > h1{
  text-align: center;
  font-size: 6rem;
  line-height: 125%;
  color: #1d3557;
  text-transform: uppercase;
  font-weight: bold;
  margin: 5% 0 0 0;
}

#hero > .text-container > h2{
  font-weight: 400;
  margin: 1% 0 10% 0;

}

#hero > .list-container > ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
}

#hero > .list-container > ul > li{
  background: white;
  padding: 2% 4%;
  width: 200px;
  height: 200px;
  margin: 0 0 5% 0;
  border-radius: 2rem;
}

#hero > .list-container > ul > li > .fas, #hero > .list-container > ul > li > .fab{
  font-size: 4rem;
  margin: 10% 0 30% 0;
}

#hero > .list-container > ul > li > h3{
  font-size: 2rem;
  font-weight: bold;
}

.text-container{
  text-align: center;
  line-height: 250%;
}

.text-container h2, #contato h2{
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  margin: 2% 0 2% 0;
}

.text-container p{
  margin: 5% 0 0 0;
}

.text-container .cta{
  padding: 1em 2em;
  border-radius: 2em;
  color: white;
  background-color: #E63946;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.image-container{
  margin: 2% 0 2% 0;
}

.image-container > ul{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; 
  text-align: center;
}

.image-container > ul > li{
  flex: 1;
}

.image-container > ul > li > h3, .image-container > ul > li > p{
  padding: 1% 2%;
}

.image-container > ul > li > h3{
  font-weight: bold;
  text-transform: uppercase;
}

.image-container .servicos-img{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}


#contato{
  background: #1D3557;
  color: white;
}

#contato .text-container, #contato .form-container{
  float: left;
  width: 50%;
}

#contato input[type="text"], #contato textarea{
  width: 100%;
  margin: 0 0 1.75% 0;
}

#contato iframe{
  width: 100%;
  height: 300px;
  border: 1px solid #E63946;
}

footer > .split-footer{
  float: left;
  width: 33.3333%;
  margin: 2% 0 0 0;
  font-size: 1.25rem;
}

footer h4{
  font-weight: bold;
}

/******************************************
/* ADDITIONAL STYLES -- NAVBAR
/*******************************************/
nav {
  background: white;
  box-shadow: var(--light-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}
.logo {
  min-height: 40px;
  max-height: 60px;
}
.links a {
  color: var(--clr-grey-3);
  font-size: 1.6rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}
.social-icons {
  display: none;
}
.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 10rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
  }
  .social-icons a:hover {
    color: var(--clr-primary-7);
  }
}

/******************************************
/* ADDITIONAL STYLES -- DEPOIMENTOS
/*******************************************/
.review {
  background: white;
  padding: 1.5rem 2rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  text-align: center;
}
.review:hover {
  box-shadow: var(--dark-shadow);
}

.img-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
#person-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}
.img-container::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10e";
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transform: translateY(25%);
  background: var(--clr-primary-5);
  color: white;
}
.img-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--clr-primary-5);
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 50%;
}
#author {
  margin-bottom: 0.25rem;
}
#job {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: var(--clr-primary-5);
  font-size: 0.85rem;
}
#info {
  margin-bottom: 0.75rem;
}
.prev-btn,
.next-btn {
  color: var(--clr-primary-7);
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
}
.prev-btn:hover,
.next-btn:hover {
  color: var(--clr-primary-5);
}



/******************************************
/* MEDIA QUERIES
/*******************************************/
@media screen and (max-width: 600px){
  #contato .text-container, #contato .form-container{
    width: 100%;
  }
}

@media screen and (max-width: 405px){
  footer > .split-footer{
    width: 50%;
    margin: 2% 0 0 0;
    font-size: 1.25rem;
  }
}
