/******************************************
/* CSS
/*******************************************/
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  color: #333;
  font-family: "Mulish", sans-serif;
}

img{
  display: block;
}

a{
  text-decoration: none;
  color: inherit;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 25%;
  margin: 1rem 2rem;
}

@media screen and (max-width: 1200px){
  main{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 767px){
  main{
    grid-template-columns: 1fr 1fr ;
  }
}

@media screen and (max-width: 560px){
  main{
    grid-template-columns: 1fr;
  }
}

.single-brew{
  box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
  border-radius: 5px;
  margin: 1rem;
}

.single-brew img{
  width: 15%;
  height: auto;
  margin: 2rem auto 1rem;
}

.single-brew .name{
  font-size: 1.75rem;
  text-align: center;
  margin: 1rem;
}

.single-brew .description{
  font-size: 1rem;
  text-align: justify;
  margin: 2rem;
}

.single-brew .abv{
  font-weight: bold;
  text-align: center;
  margin: 1rem;
}

.single-brew .pairings{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.single-brew .pairings h4{
  margin-bottom: 0.5rem;
}

.single-brew .pairings .dish{
  margin: 0 1rem 0.5rem;
  text-align: center;
}