/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body {

    font-family: Arial, Helvetica, sans-serif;
}
main {
    padding: 1%;
}

.asidebox > * , .bottom h2, .bottom h4{
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #4a4a4a;
    font-weight: bold;
}

.bottom h2{
    padding: 0.5%;
}

.bottom h4{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.bottom p{
    margin-bottom: 0.5rem;
}


.asidebox > aside{
    font-weight: normal;
    text-align: right;
}

.top-stories a{
    color: white;
}

main > section {
    width: 100%;
}


.half-width{
    width:50%;
    float: left;
    padding: 0.5%;
}

.third-width{
    width: 33.3333%;
    float: left;
    
}

a {
    color: black;
    text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
    background-color: black;
}

header nav ul li a{
    display: block;
    float: left;
    width: 7.7%;
    color: white;
    font-weight: bold;
    margin: 0.5rem 0;
    text-align: center;
    border-right: 2px solid white;
}

#main-story div, .quarter-box > div{
    padding: 0.5rem 1rem;
    /* padding: 1rem; */
}

.title{
    padding-top:16rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.storyline{
    margin-bottom: 1rem;
}


.sub-title{
    padding-top: 6rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.quarter-box{
    margin: 0 0.5rem 1rem;
}


.third-width{
    padding: 0.5rem;
}

.third-width img{
    width: 100%;
    height: auto;
}

.third-width > a + a, .quarter-box > div > a + a, #main-story  div > a:last-child{
    border-left: 2px solid red;
    padding-left: 1rem;;
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.is-hidden{
    display: none;
}

#main-story{
    background: url("../assets/index.jpeg") no-repeat center;
    background-size: cover;
}

#canada-border{
    background: url("../assets/canada-border.jpeg") no-repeat center;
    background-size: cover;
}

#productivity{
    background: url("../assets/productivity.jpg") no-repeat center;
    background-size: cover;
}

#vaccine{
    background: url("../assets/vaccine.jpeg") no-repeat center;
    background-size: cover;
}

#folk{
    background: url("../assets/folk.jpeg") no-repeat center;
    background-size: cover;
}

/**********************/
/*   MEDIA QUERIES    */
/**********************/

@media screen and (max-width: 1120px){
    header nav ul li a{
        width: 7%;
    }
}

@media screen and (max-width: 952px){
    
    .is-full-width-tablet{
        width: 100%;
    }

    .is-half-width-tablet{
        width: 50%;
    }

    .asidebox > *{
        width: 50%;
        float: left;
    }

    #main-story h3.title{
        padding-top: 3rem;
    }

    h3.title{
        padding-top:18rem;
    }
}

@media screen and (max-width: 820px){

    header nav ul li a{
        width: 14%;
    }

    .is-hidden-mobile{
        display: none;
    }

    


    .asidebox{
        background-origin: red;
    }
}

@media screen and (max-width: 550px){

    header nav ul li a{
        width: 19%;
    }

    header nav ul li input{
        margin: 0.5rem 2.5rem;
        width: 80%;
    }

    .is-full-width-mobile{
        width: 100%;
    }
   
}

@media screen and (max-width: 440px){

    .third-width{
        width: 100%;
    }
}