/* ******* GLOBAL ******* */
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
body{
    background-color: whitesmoke;
}
/* ******* HEADER ******* */
nav {
    display: flex;
    justify-content: center;
    margin: 2rem 0 3rem;
}

nav li p{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

nav li p span{
    font-weight: 700;
}

/* ******* MAIN ******* */
main{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card{
    max-width: 325px;
    flex: 1;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgb(63, 63, 63);
}

.card a {
    text-decoration: none;
    color: royalblue;
    text-align: center;
}

.card img {
    width: 325px;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 8px 8px 0 0;
}

.card span, .card p{
    margin: 1rem 1rem;
}

