/*  
header: #1d3557
section: #f1faee
middle: #a8dadc
other: #457b9d 
footer: #e63946*/

*{
    box-sizing: border-box;  
}

html{
    font-size: 62,5%;
}

header, footer{
    border: 1px solid black;
    width: 100%;
    height: 10vh;
    clear: both;
    background-color: #1d3557;
}

footer{
    background-color: #e63946;
}

section{
    border: 1px solid black;
    background-color: #f1faee;
}

.thirdWidth{
    width: 33.33%;
    height: 30vh;
    float:left;
}

.thirdWidth:nth-child(3){
    background-color:#457b9d ;
}

.halfWidth{
    width: 50%;
    height: 50vh;
    float:left;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1100px){
    .thirdWidth{
        width: 100%;
        height: 15vh;
    }
}

@media screen and (max-width: 860px){
    .halfWidth{
        width: 100%;
    }

    
}

@media screen and (max-width: 400px){
    header, footer{

    }
}