/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html{
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  
  background-color: 
  color: white;
}



section > section{
  padding: 2% 4%;
}



a{
  text-decoration: none;
}



h1,h2,h3,h4,h5,h6, span, p, a, button {
  font-size: ;
}



span{
  display: inline-block;
}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/



/******************************************
/* MEDIA QUERIES
/*******************************************/