/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body {

}

h1, h2, h3, h4, h5, h6{
  font-size: 3rem;
  font-weight: bold;
  padding-top: 1%;
  margin-bottom: 1%;
  font-family: 'ZCOOL XiaoWei', serif;
}

h2{
  font-size: 1rem;
  color: rgb(223, 114, 24);
  font-weight: 400;
  text-align: center;
}

p, span, a{
  padding-top: 2%;
  margin-bottom: 2%;
  line-height: 1.25rem;
  font-family: 'Roboto', sans-serif;
}

section > section{
  /* border: 1px solid red; */
  margin: 0 5%;
}

button{
  border: none;
}

/* COMPONENTS */
.button{
  text-decoration: none;
  background-color:  rgb(223, 114, 24);
  color:white;
}

.orange{
  color: rgb(223, 114, 24);
}


/******************************************
/* LAYOUT
/*******************************************/

nav ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-item-four{
  flex-grow: 12;
}

.nav-item-double{
  flex-grow: 2;
}

.nav-item-single{
  flex: 1;
}

.nav-item-double > a{
  text-decoration: none;
  color: #000;
}

#hero{
  background: url("../assets/restaurant-hero.jpg") top right no-repeat, linear-gradient(180deg, #dedad1, white);
  background-size: 100%;
}

#hero > section {
  padding: 7% 40% 3% 5%;
}

h1.title, #hero form{
  margin-bottom: 7%;
}

#hero form > *{
  margin:0;
  padding: 2% 4%;
  /* color: white */
}

#hero form > .button{
  position: relative;
  left: -6px;
}

#about{
  background: url("../assets/about-us-pie.jpg") top left no-repeat, url("../assets/about-us-oats.jpg") bottom right no-repeat;
}

#about > section {
  padding: 4% 5% 3% 30%;
}

h3.section-header{
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding-top: 0;
  margin-bottom: 4%;
}

#about h2{
  text-align: left;
}

#about button{
  margin:0;
  padding: 2% 4%;
}

.button-container span{
  margin: 0;
  padding: 2% 2%;
  background-color: rgb(231, 166, 112);
  color: white;
  font-size: 0.85rem;
  position: relative;
  left: -10px;
}

.menu{
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
}

.menu li{
  margin-right: 2%;
}

.menu a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
  padding-bottom: 10%;
}

.menu a:hover{
  color:  rgb(223, 114, 24);
  border-bottom: 2px solid  rgb(223, 114, 24);
}

.dots .menu{
  width: 15%;
  
}

.dots .menu a{
  font-size: 0.5rem;
  color:  rgb(223, 114, 24);
}

.dots .menu a:hover{
  border: none
}

.dots .menu a:active{
  font-size: 0.8rem;
}

.gallery > img{
  width: 24%;
  padding: 1% 0% 0 2.5%;
}

.phone > *{
  display: block;
  text-align: center;
  padding: 0;
  margin: 0 0 2% 0;
}

.phone > span:first-child{
  font-size: 2rem;
  color:  rgb(223, 114, 24);
}

 .phone > #number {
  font-size: 2rem;
  color:  rgb(223, 114, 24);
}

.hours > section{
  float: left;
  width: 40%;
  margin: 0 5% 5%;
  text-align: center;
}

.hours > section > p+p{
  font-size: 1.5rem;
  font-weight: bold;
}

#book > div{
  margin: 0 auto;
  text-align: center;
}



.client-info{
  text-align: center;
}

.client-info {
  text-align: center;
}

.circle-image{
  border-radius: 50%;
  width:135px;
  margin: 0 auto;
}

.testify{
  padding: 0 10%;
}

/* MEDIA QUERIES */

@media screen and (max-width:780px){
  .nav-item{
    flex: 3;
  }
}

@media screen and (max-width:640px){
  #hero form > .button{
    position: static;
  }
}

@media screen and (max-width:500px){
  .is-hidden-mobile{
    display: none;
  }

  #hero{
    background: url("../assets/restaurant-hero-vertical.jpg") no-repeat, linear-gradient(180deg, #dedad1, white);
    background-size: 100%;
  }

}