/******************************************
/* CSS
/*******************************************/
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body{
  color: #333;
  font-family: "Mulish", sans-serif;
  outline: 2px solid green;
}

main{
  max-width: 90%;
  margin: 0 auto;
}

header nav ul{
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 1rem 0.5rem 0;
}

header nav ul li{
  display: inline-block
}

nav button{
  height: 30px;
}

nav li{
  height: 30px;
  line-height: 30px;
}

nav li .fas{
  margin: 1rem 0 0 0.5rem;
}


.is-hidden-desktop{
  display: none;
}

nav li h1{
  margin: 0.5rem 0 0 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}

h1{
  margin: 1rem 0 0 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}

#all-cards{
  margin: 1rem 0 0 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card{
  min-width: 120px;
  min-height: 150px;
  flex: 1;
  margin: 0.5rem 0.5rem;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow: hidden;
  background: linear-gradient(to bottom, yellow, rgb(250, 234, 15) ) ;
  position: relative;
  z-index: 1;
}

.bg-image{
  opacity: 0.2;
  position: absolute;
  top:1rem;
  right:1rem;
  z-index: -1;
}

.card .text-content{
  display: flex;
  flex-direction: column;
}

.card h2{
  margin: 1rem 0.5rem 0;
}

.card span{
  margin: 1rem 0.5rem 0;
  background-color: rgba(0,0,0,0.2);
  color: white;
  font-weight: bold;
  border-radius: 20px;
  padding: 0.25rem 1rem;
  text-align: center;
}

.card .image-content{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card img{
  height: 120px;
}

/******************************************
/* MEDIA QUERIES
/*******************************************/
@media screen and (max-width: 1010px){
  #all-cards{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 765px){
  #all-cards{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 515px){
  .is-hidden-desktop{
    display: inline;
  }

  .is-hidden-mobile{
    display:none
  }
  #all-cards{
    grid-template-columns: repeat(1, 1fr);
  }
}