/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

/* Base colors
Mirage
#141828

Pastel Green
#66eaa4

French Gray
#bbbcc1

Waterloo
#7c7f8c
*/
html{
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  /* !!!!!FIREFOX COLOR PICKER!!!!! */
  background-color: #070a1b;
  color: white;
}



section > section{
  padding: 2% 4%;
}



a{
  text-decoration: none;
}



h1,h2,h3,h4,h5,h6, span, p, a, button {
  font-size: ;
}



span{
  display: inline-block;
}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.is-success{
  background-color: #66eaa4;
  color: #141828;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}