/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.float{
  float:left;
}

/******************************************
/* BASE STYLES
/*******************************************/

/* Base colors
Mirage
#141828

Pastel Green
#66eaa4

French Gray
#bbbcc1

Waterloo
#7c7f8c
*/
html{
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  background-color: #070a1b;
  color: white;
}



section > section{
  padding: 2% 4%;
}



a{
  text-decoration: none;
}



h1,h2,h3,h4,h5,h6, span, p, a, button {
  font-size: ;
}



span{
  display: inline-block;
}


/******************************************
/* LAYOUT
/*******************************************/
header{
  min-height: 40px;
}

header > nav > * {
  padding: 24px 4% 0 4%;
}

header nav > div{
  width: 30%;
}

header nav > div#logo-container{
  width: 20%;
  font-size: 1.9rem;
  font-weight: bold;
}

header nav ul {
  display: inline;
  width: 50%;
}

header nav ul li{
  display: inline;
  padding-left: 16px;
  font-size: 1.2rem;
}

header nav ul li select{
  appearance: none;
  background-image: url("./assets/down-caret.png");
  border: none;
  background-color: #070a1b;
  color: white; 
}

.text-container, .image-container{
  width: 50%;
  margin: 0;
}

.text-container h1{
  font-size: 3.5rem;
  font-weight: bold;
  margin: 20% 0 0 0;
  max-width: 80%;
}

.text-container h1 span{
  color: #66eaa4;
}

.text-container p{
  font-size: 1.2rem;
  margin: 10% 0 0 0;
  line-height: 150%;
}

.text-container button{
  margin: 10% 0 0 0;
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.is-success{
  background-color: #66eaa4;
  color: #141828;
  border: none;
  border-radius: 16px;
  font-weight: bold;
  padding: 4px 16px;
  margin: 0;
}

.btn-size-huge{
  padding: 8px 32px;
}