/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.float{
  float:left;
}

/******************************************
/* BASE STYLES
/*******************************************/

/* Base colors
Mirage
#141828

Pastel Green
#66eaa4

French Gray
#bbbcc1

Waterloo
#7c7f8c
*/
html{
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  background-color: #070a1b;
  color: white;
}



section > section{
  padding: 8% 10%;
}



a{
  text-decoration: none;
}



h1,h2,h3,h4,h5,h6, span, p, a, button {
  font-size: ;
}



span{
  display: inline-block;
}


/******************************************
/* LAYOUT
/*******************************************/
header{
  min-height: 40px;
  z-index: 1;
}

header > nav > * {
  padding: 24px 4% 0 4%;
}

header nav > div{
  width: 30%;
}

header nav > div#logo-container{
  width: 20%;
  font-size: 1.9rem;
  font-weight: bold;
}

header nav ul {
  display: inline;
  width: 50%;
}

header nav ul li{
  display: inline;
  padding-left: 16px;
  font-size: 1.2rem;
}

header nav ul li select{
  appearance: none;
  background-image: url("./assets/down-caret.png");
  border: none;
  background-color: #070a1b;
  color: white; 
}

.text-container, .image-container{
  width: 50%;
  margin: 0;
  z-index: 1;
}

.text-container h1{
  font-size: 3.5rem;
  font-weight: bold;
  margin: 20% 0 0 0;
  max-width: 80%;
}

.text-container h1 span{
  color: #66eaa4;
}

.text-container p{
  font-size: 1.2rem;
  margin: 10% 0 0 0;
  line-height: 150%;
}

.text-container button{
  margin: 10% 0 0 0;
}

.image-container > img{
  margin: 20% 0 0 0;
  z-index: 1;
}
footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.is-success{
  background-color: #66eaa4;
  color: #141828;
  border: none;
  border-radius: 16px;
  font-weight: bold;
  padding: 4px 16px;
  margin: 0;
}

.btn-size-huge{
  padding: 8px 32px;
}

.is-hidden-desktop{
  display: none;
}

.fa-bars{
  font-size: 2rem;
}


/* LINES ANIMATIONS */

 .lines{
  position: absolute;
  top: 0;
  left: -200;
  right: 0;
  height: 100%;
  margin: auto;
  width: 100vw;
  z-index: -2;
} 
.line{
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 10%;
  background: none;
  overflow: hidden;
  rotate: 65deg;
  z-index: -1;
}
.line::after{
  content: '';
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  animation: drop 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  
}
.line:nth-child(1){
  margin-left: -25%;
}
.line::after{
  animation-delay: 1.75s;
} 
.line:nth-child(3){
  margin-left: 20%;
}
.line:nth-child(3)::after{
  animation-delay: 1.45s;
}
.line:nth-child(5){
  margin-left: 40%;
}
.line:nth-child(5)::after{
  animation-delay: 1.05s;
}
.line:nth-child(7){
  margin-left: 60%;
}
.line:nth-child(7)::after{
  animation-delay: 1.35s;
}

  
@keyframes drop{
  from{top: 110%;}
  to{ top: -40%;}
  }


/* MEDIA QUERIES */

@media screen and (max-width:798px){
  .text-container, .image-container{
    margin: 8% 0 0 0;
    padding: 4% 0 0 10%;
  }

  .line{
    rotate: 35deg;
  }
 
}

@media screen and (max-width:420px){
  .text-container, .image-container{
    width: 100%;
    padding: 0 10%;
  }

  .image-container img{
    margin: 0;
  }

  .is-hidden-mobile{
    display: none;
  }

  .is-hidden-desktop{
    display: block;
    text-align: center;
  }

  .btn-size-regular{
    padding: 4px 4px 4px 4px;
  }

  .line{
    rotate: 25deg;
  }
}