
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");


/******************************************
/* BASE STYLES
/*******************************************/
* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 180px;
  margin: 0;
  border: 1px solid #aaa;
  border-radius: 3px;
}

#display{
  min-height: 30px;
  border: 1px solid #aaa;
  width: 80%;
  margin-bottom: 10px;
  border-radius: 3px;
}

#previousNumberAndOperator{
  min-height: 26px;
  text-align: right;
}

#currentNumber{
  min-height: 26px;
  text-align: right;
}

#buttonContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 10px;
}

#operationAndExecuteContainer{
  display: grid;
  grid-template-columns: 1fr 1fr ;
}

.number{
  min-width: 26px;
  min-height: 26px;
}

h1{
  color:#248888; 
  font-size: 46px; 
  font-weight: 100; 
  line-height: 50px; 
  letter-spacing: 1px; 
  padding: 40px 0 40px; 
  border-bottom: double #999;
  margin-bottom: 40px;
} 

h2{
  color: #e5ebee; 
  font-size: 16px; 
  line-height: 26px; 
  margin: 0;
}

p{
  color: #333; 
  font-size: 16px; line-height: 26px; 
  text-indent: 30px; 
  margin: 0; 
}

a{ 
  color: #c64119; 
  border-bottom: 1px solid #c64119; 
  text-decoration: none; }

a:hover{ 
  color: #993213; 
  border-bottom: 1px solid #993213; 
}


/******************************************
/* MEDIA QUERIES
/*******************************************/