<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Persons Info</title>
</head>
<body>
    <main>
        <h2> Phonebook Info</h2>
        <p>Phonebook has info for <%=length %> people</p>
        <p>Request made at: <%=date %></p>
    </main>
</body>
</html>