/* Box Model Hack */
* {
    box-sizing: border-box;
  }
/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

.floated {
    float: left;
}

/******************************************
/* BASE STYLES
/*******************************************/
body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
}

h1, h2 {
    font-size: 3.5rem;
    line-height: 4rem;
}

h2{
    text-align: center;
    margin-bottom: 6%;
}

p{
    font-size: 1.1rem;
}

.button {
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 1% 4%;
    border-radius: 5px;
    border: 1px solid white;
}

.button:hover{
    border: 2px solid blue;
}

/******************************************
/* LAYOUT
/*******************************************/
header, main{
    margin-bottom: 5%; 
    border-bottom: 1px solid rgba(128, 126, 126, 0.5);
}

/* header ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
} Leon, this is just cruel! LOL   */

header nav > ul {
    padding-top: 0.5%;
    float: left;
    width: 100%;
  }
  
  header nav ul li{
    display: inline;
    padding-left: 7%;
  }
  
  header nav ul li a{
    text-decoration: none;
    color: blue;
    font-weight: bold;
    text-align: center;
  }

main > section{
    float:left;
    width: 50%;
    padding: 0 5% 0 5%;
}

.image-container{
    padding: 0 0 0 3%;
}

.image-container > img{
    width: 100%;
}

.text-container{
}

.text-container > *{
    padding-top: 6% ;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1100px){
    header nav ul li{
        padding-left: 5%;
      }
}

@media screen and (max-width: 920px){
    header nav ul li{
        padding-left: 3%;
      }
}

@media screen and (max-width: 770px){

    .is-hidden-tablet{
        display: none;
    }

    .image-container, .text-container{
        width: 100vw;
    }

    .text-container, .main{
        margin-bottom: 10%;
    }
}

@media screen and (max-width: 560px){
    .is-hidden-mobile{
        display:none;
    }

    .button-container{
        text-align: center;
    }
}