/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html{
  font-size: 62.5%;
}

body {

}

section {
  width: 100%;
  padding: 5% 5%;
  border: 1px solid red;
}

h1,h2,h3,h4,h5,h6, p, span, a, button{
  text-transform: uppercase;
  font-size: 1rem;
}

h1{
  font-size: 4rem;
  line-height: 150%;
}

h2{
  font-size: 2rem;
  line-height: 150%;
}

p{
  font-family: sans-serif;
}

button{
  border: none;
}

/******************************************
/* LAYOUT
/*******************************************/

/* header nav ul{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
  THIS WOULD'VE SOLVED THE HEADER IN 2 MINUTES, Leon!
} */

header{
  min-height: 30px;
  line-height: 30px;
}

.header-image {
  width: 10%;
  float: left;
  padding-top: 0.5%;
}

header nav > ul {
  float: left;
  width: 90%;
}

header nav ul li{
  display: inline;
  padding-left: 6%;
}

header nav ul li a{
  text-decoration: none;
  color: black;
}

.hero{
  background-image: url("../assets/salon-main-img.jpg");
  color: white;
  min-height: 55vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.hero-contents{
  width: 70%;
}

.hero-contents p, .hero-contents a{
  margin-top: 2%;
  margin-bottom: 8%;
}

.hero-bottom{
  padding: 0;
  margin: 0;
}

.hero-bottom > *{
  float: left;
}

.hero-bottom .notice{
  border: 1px solid red;
  width: 20%;
  margin: 0 5%;
  background-color: #000;
}

.hero-bottom .notice > *{
  margin: 5% 2% 10% 10%;
  line-height: 2rem;
}

.big-number{
  font-size: 2rem;
  font-weight: bold;
}

.hero-bottom .notice .button-inverted{
  background: whitesmoke;
  color: #000;
}

.hero-nav{
  float: right;
  font-size: 2rem;
  color: #000;
}

.hero-nav > *{
  border-radius: 50%;
  background: rgba(255,255,255,0.3);
}



#about{
  
}

#about > section, #lookbook > section, #people > section{
  width: 33.33%;
  float: left;
  padding: 5%;
}

#about > section > * {
  text-align: center;
  margin-bottom: 10%;
}

#about > section > p{
  text-transform: none;
}

.icons{
  font-size: 4rem;
}

#services > section{
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
}

#services > section > *{
  margin: 5% 2% 10% 10%;
  line-height: 2rem;
}

.video iframe{
  width: 80%;
  height: 220px;
  margin:0 ;
  padding: 0;
}

#people > .bg-image{
  padding: 2% 2% 0 2%;
}

#people > .bg-image > img{
  width: 100%;
  height: auto;
}

#people > .bg-image > .button{
  position: relative;
  top: -20px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5rem;
}

aside.ad{
  background: url("../assets/aside.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.ad-text{
  width: 20%;
  padding-top: 20%;
}

.ad-text > *{
  margin:0 0 15% 0;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.button{
  padding: 2% 5%;
  background-color: black;
  color: white;
  text-decoration: none;
}

a.is-inverted{
  background-color: whitesome;
  color: black;
}

.half-height{
  width: 200px;
  height: auto;
}

/* MEDIA QUERIES */
@media screen and (max-width: 900px){
  #services > section{
    width: 100%;
  }
}

@media screen and (max-width: 780px){
  #about > section, #lookbook > section, #people > section{
    width: 100%;
    padding: 5%;
    background: yellow;
  }
}

@media screen and (max-width: 700px){
  header nav ul li a.is-hidden-mobile{
    display: none;
  }
}