/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
th, td {
  border: 1px solid #cecfd5;
  padding: 10px 15px;
}

label{
  display: block;
}

body{
 


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
