.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.step{
  width: 80vw;
}

h1{
  font-size: 3.5rem;
}

p{
  font-size: 2.5rem;
}

span{
  text-decoration: underline;
}

.icon{
  font-size: 3.5rem;
}

/* @media screen and (max-width: 525px){
  h1{
    font-size: 4.5rem;
  }
  
  p{
    font-size: 3rem;
  }

  .icon{
    font-size: 4.5rem;
  }
} */