/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html{
  font-size: 62.5%;
  font-family: sans-serif;
  background :white;
  color: #000;
}

body {

}

section > section, footer > section{
  padding: 2% 4%;
}

a{
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

h1,h2,h3,h4,h5,h6, span, p, a, button {
  font-size: 1.5rem;

}

span{
  display: inline-block;
}

section.half-width-floated{
  float: left;
  width: 50%;
}

#clients .floated-right{
  float: right;
  width: 7%;
  margin-right: 2%;
}

/******************************************
/* LAYOUT
/*******************************************/
header{
  background: rgba(10,20,55,1);
  min-height: 40px;
}

header > nav{ 
  padding: 1% 2% 0;
}

.floated-left{
  float:left;
}

header > nav > div{
  width: 10%;
  text-align: center;
}

header > nav > div > button{
  min-height: 40px;
  width: 100%;
}

header > nav > ul {
  width: 80%;
  line-height: 40px;
}

header > nav > ul > li{
  display: inline;
  padding-left: 10%;
}

header > nav > ul > li > a{
  color: white;
}

header > nav > div> i{
  font-size: 3rem;
  color: white;
}

#hero{
  background: rgb(10,20,55);
  background: linear-gradient(180deg, rgba(10,20,55,1) 0%, rgba(125,138,149,1) 47%, rgba(250,250,250,1) 100%); 
  color: white;
}

#hero > section.text-container h1{
  font-size: 3rem;
  text-transform: capitalize;
  margin: 23% 0 3% 0;
  max-width: 70%;
}

#hero > section.text-container a{
  display: inline-block;
  padding-left: 5%;
}

#hero > section.image-container img{
  width: 90%;
  border: 20px solid whitesmoke;
  margin: 2% 0 0 0;
  border-radius: 20px;
}

section.text-container h2{
  font-size: 2rem;
  text-transform: capitalize;
  margin: 0 0 3% 0;
  max-width: 70%;
}

section.text-container h4{
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0 0 3% 0;
}

section.text-container p{
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: 0 0 4% 0;
}

section.text-container p + p{
  margin: 0 0 8% 0;
}

.image-container img{
  width: 100%;
  height: auto;
}

.card-container .card img{
  width: 100%;
  height: auto;
  margin: 0 0 5% 0;
}

.card-container .card h3{
  font-weight: bold;
  text-align: center;
  margin: 0 0 5% 0;
}

.card-container .card p{
  text-transform: capitalize;
  text-align: center;
  margin: 0 0 5% 0;
}

#how h2, #how p{
  text-align: center;
  font-size: 2rem;
  text-transform: capitalize;
  margin: 0 0 2% 0;
}

#how p{
  font-size: 1.3rem;
  padding: 1% 10%;
}

#how-button{
  text-align: center;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.button{
  padding: 1% 3%;
  font-weight: bold;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}

.button-inverted{
  background-color: white;
  color: black;
}

span .fab{
  font-size: 3rem;
}


/* MEDIA QUERIES */
@media screen and (max-width:1036px){
  header > nav > ul > li{
    padding-left: 8%;
  }
}

@media screen and (max-width:798px){
  header > nav > ul > li{
    padding-left: 6%;
  }

  #hero > section.image-container img{
    width: 100%;
    margin: 10% 0 0 0;
  }

}

@media screen and (max-width:648px){
  .is-hidden-mobile{
    display: none;
  }

  section.half-width-floated{
    width: 100%;
    float: none;
  }

  header > nav > div{
    width: 20%;
  }

  header > nav > ul{
    width: 60%
  }

  #hero > section.text-container h1{
    margin: 10% 0 10% 0;
    max-width: 100%;
    text-align: center;
  }
  
  #hero > section.image-container img{
    margin: 0;
  }

  #clients .floated-right{
    width: 12%;
  }
}