/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html{
  font-size: 62.5%;
  font-family: ;
}

body {
  background-color: #faf2f4;
}

/* Vista White

#faf2f4
Falcon

#86626c
Mountbatten Pink

#9e7a93
Mantle

#879c8f */

section > section{
  padding: 2% 4%;
}

a{
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6, span, p, a, button {
  font-size: ;
}

span{
  display: inline-block;
}


/******************************************
/* LAYOUT
/*******************************************/
header nav > * {
  border: 1px solid red;
}

#main > section{
  float: left;
  width: 50%;
}

#main .image-container img{
  border-radius: 50%;
  width: 80%;
  height: auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
button.button{
  background-color: #9e7a93;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}