/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.float-left{
  float: left;
}

/******************************************
/* BASE STYLES
/*******************************************/
html{
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  background-color: #faf2f4;
}

/* Vista White

#faf2f4
Falcon

#86626c
Mountbatten Pink

#9e7a93
Mantle

#879c8f */

section > section, footer > section{
  padding: 2% 4%;
}

h1,h2,h3,h4,h5,h6, span, p, a, button {
  font-size: 2rem;
  color: #86626c;
}

a{
  text-decoration: none;
  font-weight: bold;
}

h1{
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Kurale', serif;
}

span{
  display: inline-block;
}


/******************************************
/* LAYOUT
/*******************************************/
header, footer{
  min-height: 50px;
  background-color: white;
  line-height: 50px;
}

nav > div{
  padding: 0 2%;
} 

.header-image{
  width: 25%;
  padding-top: 0.5%;
}

.header-image img{
  padding: 0 0 0 2%;
  height: 45px;
  width: auto;
}

.header-image h1{
  padding: 0.5% 0 0 4%;
}

header nav ul{
  width: 60%;
  padding-top: 0.5%;
  min-height: 53px;
}

header nav ul li{
  display: inline-block;
  margin: 0 0 0 6%;
  text-align: center;
}

header nav ul li a{
  font-weight: normal;
} 

.header-button{
  width: 15%;
}

.header-button button{
  margin: 10% 0 0 0;
  padding: 5px 20px;
}

.hidden-desktop{
  display: none;
}

i.fas, i.far{
  font-size: 3rem;
  font-weight: bold;
}

section.section > section{
  float: left;
  width: 50%;
}

section.section > .image-container > img{
  border-radius: 50%;
  width: 60%;
  height: auto;
  margin: 8% 0 0 0;
}

section.section > .map-container > iframe{
  width: 100%;
  height: 450px;
  margin: 5% 0 0 5%;
}

section.section > .text-container > h2{
  font-size: 3rem;
  font-weight: bold;
  margin: 20% 0 0 5%;
  line-height: 150%;
  font-family: 'Kurale', serif;
}

section.section > .text-container > h3{
  margin: 5% 0 0 5%;
}

section.section > .text-container > h3 > span{
  font-family: 'Kurale', serif;
  font-weight: bold;
  font-size: 3rem;
  margin: 0 1% 0 0;
}

section.section > .text-container > h4{
  margin: 5% 0 0 5%;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Kurale', serif;
}

section.section > .text-container > p{
  margin: 5% 0 0 5%;
  text-indent: 2rem;
  text-align: justify;
  line-height: 125%;
}

section.section > .text-container > p.times{
  margin: 2% 0 0 5%;
  text-indent: 2rem;
}

section.section > .text-container > button.button{
  margin: 5% 0 0 5%;
  padding: 5px 20px;
}

footer > section{
  margin: 1% 0 0 2%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
button.button{
  background-color: #9e7a93;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border: none;
}



/* young woman in a passerby <a href='https://www.freepik.com/photos/background'>Background photo created by javi_indy - www.freepik.com</a> */
/* mother daughter yoga <a href='https://www.freepik.com/photos/background'>Background photo created by senivpetro - www.freepik.com</a> */

/* MEDIA QUERIES */
@media screen and (max-width: 844px){
  .header-image img{
    padding: 7% 0 0 2%;
    height: 35px;
  }

  .header-image h1{
    padding: 0.5% 0 0 1%;
  }

  header nav ul li{
    margin: 0 0 0 4%;
  }
}

@media screen and (max-width: 769px){
  header nav ul li{
    margin: 0 0 0 2%;
  }

  section.section > .image-container > img{
    width: 70%;
    height: auto;
    margin: 15% 0 0 0;
  }

  section#main{
    margin-bottom: 5%;
  }

  section.section > .text-container > button.button{
    margin: 10% 5%;
    padding: 5px 20px;
  }
}

@media screen and (max-width: 687px){
  .hidden-mobile{
    display: none;
  }

  .hidden-desktop{
    display: inline;
    float: left;
    margin: 0 5% 0 0;
    padding: 1% 0 0 0;
  }

  .header-image{
    width: 80%;
  }

  .header-image img{
    padding: 1% 0 0 0;
    height: 45px;
  }

  .header-image h1{
    height: auto;
    line-height: 50px;
    padding: 0.5% 0 0 5%;
  }

  section.section > section.text-container, section.section >  section.image-container, section.section > section.map-container{
    width: 100%;
    float: none;
  }

  section.section > section.map-container{
    width: 90%;
    margin: 0 auto;
  }

}