/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.float-left{
  float: left;
}

/******************************************
/* BASE STYLES
/*******************************************/
html{
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  background-color: #faf2f4;
}

/* Vista White

#faf2f4
Falcon

#86626c
Mountbatten Pink

#9e7a93
Mantle

#879c8f */

section > section{
  padding: 2% 4%;
}

h1,h2,h3,h4,h5,h6, span, p, a, button {
  font-size: 2rem;
  color: #86626c;
}

a{
  text-decoration: none;
  font-weight: bold;
}

h1{
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Kurale', serif;
}

span{
  display: inline-block;
}


/******************************************
/* LAYOUT
/*******************************************/
header nav > * {
  background-color: white;
  min-height: 40px;
  line-height: 40px;
}

nav > div{
  padding: 0 2%;
} 

.header-image{
  width: 25%;
  padding-top: 0.5%;
}

.header-image img{
  padding: 0 0 0 2%;
  height: 45px;
  width: auto;
}

.header-image h1{
  padding: 0.5% 0 0 4%;
}

header nav ul{
  width: 60%;
  padding-top: 0.5%;
  min-height: 53px;
}

header nav ul li{
  display: inline-block;
  margin: 0 0 0 6%;
  text-align: center;
}

.header-button{
  width: 15%;
}

.header-button button{
  margin: 7% 0 0 0;
  padding: 5px 20px;
}

section.section > section{
  float: left;
  width: 50%;
}

section.section > .image-container > img{
  border-radius: 50%;
  width: 80%;
  height: auto;
  margin: 5% 0 0 0;
}

section.section > .text-container > h2{
  font-size: 3rem;
  font-weight: bold;
  margin: 20% 0 0 5%;
  line-height: 150%;
  font-family: 'Kurale', serif;
}

section.section > .text-container > h3{
  margin: 5% 0 0 5%;
}

section.section > .text-container > h3 > span{
  font-family: 'Kurale', serif;
  font-weight: bold;
  font-size: 3rem;
  margin: 0 2% 0 0;
}

section.section > .text-container > button.button{
  margin: 5% 0 0 5%;
  padding: 5px 20px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
button.button{
  background-color: #9e7a93;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border: none;
}



/* young woman in a passerby <a href='https://www.freepik.com/photos/background'>Background photo created by javi_indy - www.freepik.com</a> */
/* mother daughter yoga <a href='https://www.freepik.com/photos/background'>Background photo created by senivpetro - www.freepik.com</a> */