.site-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 10vmin;
}

.Banana{
    background-color: #191c20;
}

.App_logo {
    height: 10vmin;
    pointer-events: none;
}

ul.header-ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

li.simple-todo-header{
    color:#61dafb;
    text-align: center;
    font-family: inherit;
    text-decoration: none;
    margin-left: 1rem;
  }

li.simple-todo-header:hover{
    outline: 2px solid #61dafb;
    outline-offset: 0.5rem;
}